.left.button
	%a{:href => "/projects/#{@brandweer.id}"}
		= image_tag('offers/consumers/brandweer_button.png')

.right.button
	%a{:href => "/projects/#{@cabinedak.id}"}
		= image_tag('offers/consumers/cabinedak_button.png')

.left.button
	%a{:href => "/projects/#{@camphy.id}"}
		= image_tag('offers/consumers/camphy_button.png')

.right.button
	%a{:href => "/projects/#{@neusplaten.id}"}
		= image_tag('offers/consumers/neusplaten_button.png')

.left.button
	%a{:href => "/projects/#{@politie_bus.id}"}
		= image_tag('offers/consumers/politie_bus_button.png')

.right.button
	%a{:href => "/projects/#{@type_h.id}"}
		= image_tag('offers/consumers/type_h_button.png')