.left.button
	%a{:href => "/projects/#{@brandweer.id}"}
		.button1.button_text
			Toezicht en advies op eigenaar die de wagen zelf opknapt.

.right.button
	%a{:href => "/projects/#{@cabinedak.id}"}
		.button2.button_text
			Nieuw cabine-dak.

.left.button
	%a{:href => "/projects/#{@camphy.id}"}
		.button3.button_text
			Totale revisie.

.right.button
	%a{:href => "/projects/#{@neusplaten.id}"}
		.button4.button_text
			Het monteren van nieuwe neusplaten.

.left.button
	%a{:href => "/projects/#{@politie_bus.id}"}
		.button5.button_text
			Conserveren voor het politiemuseum.

.right.button
	%a{:href => "/projects/#{@type_h.id}"}
		.button6.button_text
			Totale revisie van een oude HY uit 1953.