.photo
	.photo_block
		%img{:src => '/assets/header_pages/people/ben.png', :alt => 'Een oude auto', :class => 'first'}
		.text
			%b Ben Boortman
			%br
			Directeur
			%br
			HY specialist
	.photo_block
		%img{:src => '/assets/header_pages/people/menno.png', :alt => 'Een oude auto', :class => 'second'}
		.text
			%b Menno van Heijningen
			%br
			Eeste monteur
			%br
			Product ontwikkeling
	
	%h1 Wat doen wij?

%p
	%span#company_name HY's mooi
	is gespecialiseerd in het geheel of gedeeltelijk reviseren en restaureren van de Citro&euml;n type H.
	
	U kunt bij ons kiezen uit de volgende soorten programma's

%ol.roman
	%p
		%li
			%b
				Totale revisie
		Hierbij nemen we uw wagen
		%sup
			%a#1{:href => '#ftn1'}1
		geheel onderhanden:
		%ul
			%li We nemen de complete voortrein [het paard] uit en demonteren alle daarop aangebrachte systemen, zoals remmen, stuur, koeling, elektra.
			= image_tag('header_pages/old_site/HY uit elkaar.jpg', :alt => 'Een nog te reviseren Citroen HY', :class => 'inline_image')
			Alle onderdelen worden schoongemaakt en ge&iuml;nspecteerd. Slechte onderdelen worden vervangen door nieuwe of nieuw gereviseerde. Indien nodig laten we de motor en de versnellingsbak reviseren.
			%li Ondertussen halen we alle onderdelen zoals deuren, ramen, dashboard en bedrading van de carrosserie. Vervolgens laten we de carrosserie stralen, zodat alle roest- verf- en plamuurlagen worden verwijderd. Dan worden er waar nodig nieuwe stukken in gelast.
			%li Als vervolgens de voortrein en de carrosserie klaar zijn, worden deze weer samengebracht tot een wagen.
			%li Dit geheel gaat naar de spuiter die er een professioneel verfsysteem op aanbrengt. Na het spuiten komt de wagen bij ons terug voor het afbouwen en de eindcontrole.
			%li Tenslotte laten we de onderzijde en de holle delen "Dinitrollen"
			%li Hierna is uw HY klaar om de weg op te gaan.
			%li Na 1.000 km komt de HY terug voor een kleine beurt waarbij samen met u we de laatste punten nalopen.
	
	%p
		%b
			%li
				Deel revisie
		Naast zo'n totale revisie kunt U bij ons ook terecht voor een gedeeltelijke revisie. Daarbij pakken we een van de subsystemen van uw HY aan en reviseren alle onderdelen hiervan. De deelrevisies die u bij ons kunt laten doen zijn:
	
		%ol.number
			%p
				%b
					%li
						Verlichting en bekabeling
				De bekabeling van de HY is altijd een zwak punt.
				= image_tag('header_pages/old_site/HY.jpg', :alt => 'Een oude auto', :class => 'inline_image')
				De draden zijn erg dun en zeker als er naderhand aan geknutseld is, geeft het systeem vaak storingen. Bij deze deelrevisie verwijderen we alle oude kabels en leggen een compleet nieuwe kabelboom in uw HY
				%sup
					%a#2{:href => '#ftn2'}2
				En als we dan toch aan het 12 Volt systemen werken, kijken we meteen alle lampen na en vervangen deze als dat nodig is.
		
			%p
				%b
					%li
						Remmen
				Het remsysteem van een HY is gebaseerd op de techniek van de jaren '50. Zo heeft de HY geen
				= image_tag('header_pages/old_site/Trommel remmen.jpg', :alt => 'De trommel remmen van een Citroen HY', :class => 'inline_image')
				rembekrachtiger en geen remschijven, maar een grote hoofdremcilinder met rondom remschoenen. Het systeem kan goed werken mits goed afgesteld en voldoende onderhouden.
				%br Bij deze deelrevisie halen we het complete remsysteem van rempedaal tot ontluchtingsnippel van de wagen. U krijgt:
				%ul
					%li nieuw gereviseerde remcilinders, en een nieuwe of gereviseerde hoofdremcilinder;
					%li nieuwe remleidingen en remslangen en remschoenen.
				Bij deze revisie tappen we standaard het schroefdraad van de wielbouten en wielmoren weer op, zodat u hierna de wielen gemakkelijk kunt monteren. Als u dat wil, laten we uw wielmoeren geel pacificeren. Indien gewenst, kunnen we bij deze revisie ook de wiellagers nakijken en/of vervangen. Als uw HY is voorzien van een remdrukbegrenzer, kijken we die ook na.
		
			%p
				%b
					%li Rembekrachtiger
				= image_tag('header_pages/old_site/Stop.jpg', :alt => 'Citroen HY stop teken', :class => 'inline_image')
				En als u dan toch nog vindt dat u te hard op het pedaal moet drukken voor een goede remvertraging, kunnen we bij u een rembekrachtiger inbouwen. U krijgt ergens voorin een extra "trommel" waardoor u minder hard hoeft te trappen. Om het originele karakter van uw HY zoveel mogelijk te bewaren, bouwen we dit systeem zo in dat u altijd terug kunt naar de originele situatie.
		
			%p
				%b
					%li Ontsteking
				Ook de ontsteking op de HY heeft nog de mechanica van de jaren '50 - '60. Het kan
				= image_tag('header_pages/old_site/Bougie.jpg', :alt => 'De bougie van een Citroen HY', :class => 'inline_image')
				goed werken, mits goed afgesteld en onderhouden
				%sup
					%a#3{:href => '#ftn3'}3
				\. Revisie houdt in: Nieuwe puntjes, bougies, bougiekabels, rotor en rotorkap. Een optie is het oude ontstekingshuis te vervangen door een moderne elektronische 123 ontsteking. Deze is speciaal voor de HY ontwikkeld en werkt uitstekend. De motor loopt rustiger en start beter.
		
			%p
				%b
					%li 12-volt start- & laadsysteem
				Het 12 volt start- en laadsysteem van de HY kent diverse uitvoeringen. Zo hebben bijv. de oude typen HY een gelijkstroomdynamo, terwijl de "modernere" wagens een wisselstroomdynamo hebben. Voor deze onderdelen is door Citro&euml;n nooit en speciaal onderhoudsprogramma opgezet en in vele wagens zijn de componenten er slecht aan toe.
				= image_tag('header_pages/old_site/HY Snelheidsmeter.jpg', :alt => 'De snelheidsmeter van een Citroen HY', :class => 'inline_image')
				Je merkt dat aan het slecht starten, het niet voldoende laden van de accu en een laadstroommeter die in het geblokte of zelfs rode gebied staat. Bij een revisie van dit systeem krijgt u een nieuwe of nieuwe gereviseerde
				%ul
					%li Startmotor en startrelais
					%li Dynamo, V-snaar en spanningsregelaar
					%li Nieuwe 12V [accu]kabels
					%li Indien nodig vervangen we ook de accu en leveren we een druppellader waarmee u de accu bij langdurige stilstand op spanning kunt houden.
		
			%p
				%b
					%li Brandstof
				Het brandstof systeem is een van de meer eenvoudige systemen van uw HY.
				= image_tag('header_pages/old_site/HY Tank.jpg', :alt => 'Een tank van de Citroen HY', :class => 'inline_image')
				Toch kan het voor veel problemen zorgen. Een revisie van het brandstofsysteem houdt in dat we alle brandstofleidingen vernieuwen en een nieuwe benzinepomp monteren. De overige onderdelen zoals; tank, tankvlotter en carburateur
				%sup
					%a#4{:href => '#ftn4'}4
				worden gedemonteerd, schoongemaakt en nagekeken.
		
			%p
				%b
					%li Motor
				Dit is het kloppend hart van uw HY.
				= image_tag('header_pages/old_site/Heart.jpg', :alt => 'images/products/Heart.jpg', :class => 'inline_image')
				De HY heeft weliswaar een robuuste Citro&euml;n motor
				%sup
					%a#5{:href => '#ftn5'}5
				, maar toch lopen na verloop van tijd de paardenkrachten wat minder hard. Dan is het tijd voor een revisie. Voor een motorrevisie bouwen we uw motor uit en brengen deze weg naar een gespecialiseerd bedrijf. Deze vernieuwen de bussen en zuigers, vervangen alle pakkingen en monteren een nieuwe distributieketting. Wij bouwen de motor vervolgens weer in sluiten alles aan.
		
			%p
				%b
					%li Versnellingsbak
				Drie versnellingen en een achteruit, daar moet uw HY het mee doen!
				= image_tag('header_pages/old_site/HY Versnellingsbak.jpg', :alt => 'Een Citroen HY versnellingsbak', :class => 'inline_image')
				Net als de motor is de versnellingsbak van een HY behoorlijk robuust, maar na verloop van tijd is ook HY toe aan revisie. Wij bouwen de V-bak uit en sturen hem naar een gespecialiseerd bedrijf die de hele bak leeghaalt, alles controleert en zo nodig lagers en tandwielen vervangt
				%sup
					%a#6{:href => '#ftn6'}6
				\. Als de balk gedemonteerd is, hebben we ook de koppelingsplaten, druggroep en het druklager op de werkbank liggen. Zo nodig vervangen we deze onderdelen voor nieuw gereviseerde.
		
			%p
				%b
					%li Koeling
				Vele HY's kampen met koelproblemen. Bij kleine ritjes in ons koude Nederland
				= image_tag('header_pages/old_site/Heet.jpg', :alt => 'Heet van Citroen HY\'s', :class => 'inline_image')
				heeft u wellicht geen probleem, maar dat wordt anders als u op vakantie bent met een volgepakte HY in het zonnige Frankrijk. Dan is het wellicht tijd voor een revisie van het koelsysteem. Hierbij laten we het koelsysteem eerst helemaal leeglopen, waarbij we ook het aftapkanaal in het motorblok openhalen. Vervolgens demonteren en controleren we de radiator, alle slangen en de waterpomp. De radiator krijgt een nieuw koelblok en we monteren een gereviseerde waterpomp. Na montage vullen we het systeem af met een moderne koelvloeistof die geschikt is voor motoren met een aluminium kop.
		
			%p
				%b
					%li Stuur
				= image_tag('header_pages/old_site/HY Tang.jpg', :alt => 'Een Citroen HY tang', :class => 'inline_image')
				Het stuursysteem van de HY is een gesloten systeem dat bij fabricage is afgevuld met vet. Behalve bij de stuurkogels kan dat niet worden doorgesmeerd. Reken zelf maar uit hoe oud het vet in uw HY is! Bij de revisie van dit systeem demonteren we de stuuras en de hulpstuurhuizen, halen het oude vet er uit en vullen het af met modern vet. In sommige gevallen is de slijtage van de onderdelen zo ver gevorderd dat er ontoelaatbare stuurspeling optreedt. In dat geval monteren we nieuwe stuurkogels en stellen de tandwielen van de hulpstuurhuizen opnieuw af.
		
			%p
				%b
					%li Fusees & aandrijfassen
				De HY heeft een heel apart fusee systeem, dat is afgekeken van de Traction.
				= image_tag('header_pages/old_site/Citroen oud.jpg', :alt => 'Een oude Citroen', :class => 'inline_image')
				Op de fusees zitten smeernippels die u volgens het onderhoudsboekje om de 2.000- 5.000 km moet doorsmeren. Lang niet iedereen kan de 6-8 smeernippels vinden en als ze dan al gevonden zijn, zitten de kanalen dicht en lukt het niet er vet in te krijgen. Dan moet de zaak open. Wij kunnen deze klus voor u doen waarbij we alle vier de fusees open halen en inspecteren. Zo nodig plaatsten we nieuwe fusee kogels. Bij deze revisie nemen we ook de aandrijfassen mee. We demonteren de assen en halen het oude vet er helemaal uit. We controleren de kruiskoppelingen en tripodes
				%sup
					%a#7{:href => '#ftn7'}7
				en vervangen de hoezen. Na montage is alle weer soepel en gangbaar.
		
			%p
				%b
					%li Achteras
				Bij uw HY zit vrijwel alle mechanica aan de voorzijde van de wagen. Aan de achterzijde zitten -naast de achterwielen en -remmen- alleen nog twee achterassen met torsieveren.
				= image_tag('header_pages/old_site/HY lager.jpg', :alt => 'Een kogel lager van de Citroen HY', :class => 'inline_image')
				De torsieveren geven weinig problemen, maar de lagers van de achterassen willen nog wel eens vast zitten. U merkt dit doordat de wagen aan de achterzijde een droge tik geeft bij het doorveren. Om de lagers te kunnen vervangen, moeten de assen er uit. Dat kan nog een hele klus zijn, want vaak zit het behoorlijk vast. Als de assen er uit zijn, vervangen we de lagers en vernieuwen de vetkeringen. Tevens stellen we de wagenhoogte achter opnieuw af volgens de fabrieksspecificaties of op de door u gewenste hoogte.
		
			%p
				%b
					%li Tectyleren
				Voor het behoud van de wagen is het aan te raden de onderzijde van uw HY &egrave;n de vele
				= image_tag('header_pages/old_site/Dinitrol.jpg', :alt => 'Leverancier van Citroen revisie bedrijf HY\'s Mooi', :class => 'inline_image')
				holle delen door een professioneel bedrijf te laten tectyleren. Wij werken daarbij samen met het Dinitrol bedrijf Sjaak van Aalst in Alphen a/d Rijn.
				%br
				Het Dinitrollen gaat in 3 stappen:
				%ol
					%li
						Schoonspuiten van de onderzijde van uw HY om al het vuil en oude beschermlagen te verwijderen;
					%li
						Zo nodig bijwerken
						%sup
							%a#8{:href => '#ftn8'}8
						van de onderzijde;
					%li
						Aanbrengen Dinitrol.
				Twee weken nadat de wagen in de Dinitrol is gezet, kunt u het plaatwerk schoonmaken en in de was zetten.
	
	%p
		%b
			%li Plaatwerk
		Citroen heeft met de golfplaat voor de HY een ingenieuze oplossing bedacht om met heel dun plaatwerk toch een grote bus te kunnen maken. Helaas was dit plaatwerk niet berekend op een levensduur van meer dan 30 jaar. Vele bussen hebben nu dan ook plaatwerk- en roestproblemen. Inmiddels zijn er veel reparaties die we voor u kunnen doen. Hieronder twee veel voorkomende reparaties:
		= image_tag('header_pages/old_site/HY met klep.jpg', :alt => 'Een oude Citroen HY met een zij klep', :class => 'inline_image')
	
	%ol.number
		%p
			%b
				%li Verkoopklep
			Vanaf de beginjaren van de HY was deze bus al populair bij kleine verkopers en marktlieden. Deze lieten vaak aan de zijkant een klep inbouwen. We hebben het truckje inmiddels door en kunnen voor u een hoge of lage klep inbouwen.
		
		%p
			%b
				%li Neusplaat
			Een kwetsbare plek bij de HY is de neusplaat achter de koplampen. Wij kunnen hier voor u een reparatieplaat inzetten. We slijpen het oude deel uit en zetten er een nieuw stuk golfplaat in. Hierna monteren we de koplampsteun en alles is weer in orde.
		
		%p
			%b
				%li Imperiaal
			= image_tag('header_pages/old_site/HY oud.jpg', :alt => 'Een oude Citroen HY', :class => 'inline_image')
			En als u dan nog meer mee wilt nemen, kunt u een imperiaal op het dak [laten] monteren. Echter, een normale imperiaal met pootjes in de dakgoot is heel slecht voor uw bus. Wij monteren de imperiaal met speciale steunen op het dak. Zo deed de rijkspolitie dat destijds ook met hun HY's.
		
.footnotes
	%p
		%b Voetnoten:
		%br
		%sup
			%a#ftn1{:href => '#1'}1
		Indien u nog geen eigen HY heeft, kunnen wij er ook een voor u zoeken.
		%br
		%sup
			%a#ftn2{:href => '#2'}2
		Eventuele niet standaard accessoires kunnen we weer op een veilige manier aansluiten.
		%br
		%sup
			%a#ftn3{:href => '#3'}3
		Wanneer heeft u voor het laatst een druppeltje olie op het viltje onder de rotor gedaan...?
		%br
		%sup
			%a#ftn4{:href => '#4'}4
		Voor de dieseluitvoeringen reviseren we de brandstofpomp en vernieuwen de inspuiters.
		%br
		%sup
			%a#ftn5{:href => '#5'}5
		De diesel is veelal van Indenor.
		%br
		%sup
			%a#ftn6{:href => '#6'}6
		We gaan er daarbij van uit dat het pignon en kroonwiel nog goed is en teruggeplaatst kan worden.
		%br
		%sup
			%a#ftn7{:href => '#7'}7
		Helaas worden er nog geen nieuwe tripodehuizen of de kogels gemaakt. Als deze onderdelen slecht zijn, moeten we van een andere buis een beter exemplaar zien te vinden.
		%br
		%sup
			%a#ftn8{:href => '#8'}8
		Voordat er echt "ge-Dinitrolt" kan worden, moeten de eventuele slechte plekken in het chassis worden verholpen.