%p#notice= notice

.title
	%h1= @project.name

.info_box
	%table
		%tr
			%td Bouwjaar:
			%td= @project.year
		%tr
			%td Type:
			%td= @project.car_type
		%tr
			%td Project nr:
			%td= @project.project_number

.description
	%h3 Korte beschrijving:
	= sanitize(@project.description)

.worked_on
	%h3 Werkzaamheden:
	= sanitize(@project.worked_on)

.image.first
	= image_tag(@project.image1, :width => '356')

.image.second
	= image_tag(@project.image2, :width => '356')

.lower_line
	.image.third
		= image_tag(@project.image3, :width => '356')

	.details
		%h3 Bijzonderheden
		= sanitize(@project.details)

.back
	= link_to 'Terug naar waar ik vandaan kwam', :controller => @project.category, :action => 'index'