.left.button
	%a{:href => "/projects/#{@blijdorp.id}"}
		= image_tag('offers/companies/blijdorp_button.png')

.right.button
	%a{:href => "/projects/#{@crepe_bus.id}"}
		= image_tag('offers/companies/crepe_bus_button.png')

.left.button
	%a{:href => "/projects/#{@manna.id}"}
		= image_tag('offers/companies/manna_button.png')

.right.button
	%a{:href => "/projects/#{@meetbus.id}"}
		= image_tag('offers/companies/meetbus_button.png')

.left.button
	%a{:href => "/projects/#{@remia.id}"}
		= image_tag('offers/companies/remia_button.png')

.right.button
	%a{:href => "/projects/#{@vleesbus.id}"}
		= image_tag('offers/companies/vleesbus_button.png')