.left.button
	%a{:href => "/projects/#{@blijdorp.id}"}
		.button1.button_text
			Ombouw van HY tot verkoopstand dierenpark Blijdorp.

.right.button
	%a{:href => "/projects/#{@crepe_bus.id}"}
		.button2.button_text
			Complete plaatwerk revisie.

.left.button
	%a{:href => "/projects/#{@manna.id}"}
		.button3.button_text
			Motor ombouw voor Manna mobiel.

.right.button
	%a{:href => "/projects/#{@meetbus.id}"}
		.button4.button_text
			Grote revisie plaatwerk en nieuw golfdak.

.left.button
	%a{:href => "/projects/#{@remia.id}"}
		.button5.button_text
			%br
			Ombouw tot promotiewagen.

.right.button
	%a{:href => "/projects/#{@vleesbus.id}"}
		.button6.button_text
			Ombouwen tot bedrijfswagen.

#hv-images
	%a.left.button.rental{:href => '/assets/offers/for_sale/rental/huur_rianne.png', :rel => 'group'}
		%img{:src => '/assets/offers/for_sale/rental/huur_rianne.png'}

	%a.right.button.rental{:href => '/assets/offers/for_sale/rental/rental_3.png', :rel => 'group'}
		%img{:src => '/assets/offers/for_sale/rental/rental_3_small.png'}
	
	%a.left.button.rental{:href => '/assets/offers/for_sale/rental/rental_4.png', :rel => 'group'}
		%img{:src => '/assets/offers/for_sale/rental/rental_4_small.png'}
	
	%a.right.button.rental{:href => '/assets/offers/for_sale/rental/rental_5.png', :rel => 'group'}
		%img{:src => '/assets/offers/for_sale/rental/rental_5_small.png'}
	
	%a.left.button.rental{:href => '/assets/offers/for_sale/rental/rental_6.png', :rel => 'group'}
		%img{:src => '/assets/offers/for_sale/rental/rental_6_small.png'}
		
	%a.right.button.rental{:href => '/assets/offers/for_sale/rental/rental_9.png', :rel => 'group'}
		%img{:src => '/assets/offers/for_sale/rental/rental_9_small.png'}