.logo.image
	= link_to image_tag("overall/hysmooi_logo.png"), :controller => 'home', :action => 'index'

.separator.image
	= image_tag("overall/separator.png")

%a.button.image{:href => '/home'}
	= image_tag("overall/home.png")

%a.button.image{:href => '/gallery/index'}
	= image_tag("overall/gallery.png")

%a.button.image{:href => '/about_us/index'}
	= image_tag("overall/about_us.png")

%a.button.image{:href => '/disclaimer/index'}
	= image_tag("overall/disclaimer.png")

%a.button.image{:href => '/links/index'}
	= image_tag("overall/links.png")

%a.button.image{:href => '/contact/index'}
	= image_tag("overall/contact.png")