!!!5
%html
	%head
		= stylesheet_link_tag    'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags
		%title
			Hy's Mooi - 
			= controller.controller_name.gsub('_', ' ').split(' ').each{|word| word.capitalize!}.join(' ')
			
		%meta{:name => 'keywords', :content => 'car, HY, HY\'s Mooi, mooi, revisie, oud, oude, auto, autos, citroen, opknappen, HZ, HL, H, type, oldtimer, kosten, camper, kamper, kamperen, bedrijfswagen, garage, werkplaats'}
			
			
	%body{ :class => controller.controller_name}
		#stage
			.header
				= render 'header'
			.content
				= yield
			.footer
				= render 'footer'